services:
  postgres:                                                                # контейнер с БД для Zabbix Server       
    image: postgres:17                                                   # параметр для скачивания образа с gitlab.cloud.gcm         
    container_name: postgres
    env_file:
      .env
    restart: unless-stopped
    networks:                                                                     # сеть для настройки iptables
      - docker-network                                                                   # имя сети для настройки iptables
    ports:
      - 5432:5432                                                               # параметр для перезапуска контейнера в случае сбоя 
    logging:                                                                      # параметр для настройки Логов
      options:                                                                    # опции дял настройки логов
        max-size: "100m"                                                          # максимальный размер логов
        max-file: "5"                                                             # максимальное количество лог-файлов       
    command: >     
      postgres
      -c ssl=on
      -c ssl_cert_file=/var/lib/postgresql/certs/server-cert.pem
      -c ssl_key_file=/var/lib/postgresql/certs/server-key.pem
      -c ssl_ca_file=/var/lib/postgresql/certs/rootCA.pem
    volumes:                                                                      # параметр для монтирования тома (хост:контейнер)
      - $PWD/postgres/data:/var/lib/postgresql/data:rw                      # том где PostgreSQL хранит базу данных
      - $PWD/certs/rootCA.pem:/var/lib/postgresql/certs/rootCA.pem:ro
      - $PWD/certs/server-key.pem:/var/lib/postgresql/certs/server-key.pem:ro
      - $PWD/certs/server-cert.pem:/var/lib/postgresql/certs/server-cert.pem:ro
      - /etc/timezone:/etc/timezone:ro                                            # том с локальной временной зоной                       
      - /etc/localtime:/etc/localtime:ro                                          # том с локальным временем                          

networks:
  docker-network:
    driver: bridge    